
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Irish+Grover&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    background-color:rgb(252, 246, 239);
    background-image:  url(../img/teste.jpg) ;
    
    background-size: cover;
 background-attachment: fixed;
 width:100%;
 
}
/*  */
.panel {
    display: none;
}

.panel.active {
    display: block;
}

.indicative {
    display: none;
}

.indicative.visible {
    display: block;
}

/* Inicialmente, o nav está escondido */
nav {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Quando a classe visible é adicionada, o nav aparece */
nav.visible {
    opacity: 1;
}

/*  */
.container{
    width: 100%;
    margin: auto;
}
.linha{
    width: 100%;
    height: 25rem;
    background-color: #3D6D40;
    margin-top: -1%;
}

.linha_produto h1{

    display: flex;
    position: absolute;
    padding-left: 25%;
    margin-top: -10rem;
    font-family: "Irish Grover", system-ui;
    font-size: 40px;
    color: #3D6D40;
    
}
 .imginicio, .textincio, .buttonwhapper, .Destaque, .card, .card-img, .animate, .linhainfo, .card-sobre{
    visibility: hidden;
}

@keyframes cardFadeIn {
0% {
    transform: translateY(10px);
    opacity: 0;
}
100% {
    transform: translateY(0);
    opacity: 1;
}
}
