
.novidade{
    height: 37rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    text-align: center;
    width: 100%;
    

}
.titulo-novidade{
color: white;
font-size: 50px;
font-family: "Irish Grover", system-ui;

}
.subtitulo-novidade{
    color: white;
    font-size: 20px;
    font-family: "Poppins", system-ui;
}
.novidade-cadas{
    width: 8rem;
    height:6rem;
   border-radius: 2rem;
   background-color: #3D6D40;
   color: white;
   border: solid 1px white;
   
}
.linha-novidade{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.linha-novidade input{
    width: 20%;
    height: 6rem;
    flex-direction: row;
    margin-right: 2rem;
    border-radius: 2rem;
    border: none;
    background-color: black;
    color: white;
    text-align: center;
    border: solid 1px white;
    font-family: "Poppins", system-ui;
}
@media(max-width: 860px) {
    .novidade{
        background-color: transparent;
        z-index: 1;
    }

    
}